/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* GALLERY styles */
.gallery {
  list-style-type: none;
  display: grid;
  gap: 24px;
  grid-template-columns: 360px 360px 360px;
  justify-content: center;
}

.gallery img {
  width: 360px;
  height: 200px;
  transition: 0.2s ease;
}

.gallery img:hover,
.gallery img:focus {
  cursor: pointer;
  transform: scale(1.044);
}

/* FORM styles */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  padding: 24px;
  margin: auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
  border-radius: 4px;
}

.feedback-form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-top: 8px;
}

.feedback-form button:hover {
  background: #6c8cff;
}
